body{
	color: white;
	background-color: #111;	
}

.div{
	width: 500px;
	height: 500px;
	background-color: #222;
	justify-self: center;
	margin: auto;
	border: solid thin;
	border-color: salmon;
	font-family: fonts/Castoro.ttf;
}